

@{
    ViewData["Title"] = "Voiture ajoutée";
}

<div class="container text-center mt-5 confirmation-box">
    <h1>Merci !</h1>
    <p class="confirmation-message">Votre voiture a bien été publiée.</p>
    <br/>
    <br/>
    <a href="@Url.Action("Index", "Vehicule")" class="btn btn-secondary">Retour à l'accueil</a>
</div>
