@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié ?";
}

<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <div class="container form-container col-lg-4 col-md-6 col-12 mt-5">
        <form id="account" method="post" class="p-4 bg-white rounded" style="width:493px">
            <h2 class="text-center mb-4">Mot de passe oublié ?</h2>
            <br/>
            <br/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="container" style="width: 372px">
                <label for="Input_Email" class="form-label">Adresse email</label>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-secondary">Reset Password</button>
        </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
