@page

@model LoginModel

@{
    ViewData["Title"] = "Se connecter";
}
<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <div class="container form-container col-lg-4 col-md-6 col-12 mt-5">
        <form id="account" method="post" class="p-4 bg-white rounded" style="width:493px">
            <h2 class="text-center mb-4">ExpressVoitures</h2>
            <br/>
            <br/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container" style="width: 372px">
                <label for="Input_Email" class="form-label">Adresse email</label>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                    <label for="Input_Password" class="form-label">Mot de passe</label>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label">Se souvenir de moi ?</label>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2 mb-3">
                        <button id="login-submit" type="submit" class="btn btn-primary btn-add-car">Se connecter</button>
                    <span class="btn-separator mx-2">ou</span>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-lg btn-secondary">S'inscrire</a>
                </div>
                <div class="form-label" style="text-align:center">
                    <a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a> <br />                    
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

