<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpressVoitures</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpressVoitures.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container a">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a href="/">Express Voitures</a>
                </div>
                <div class="navbar-menu">
                    <!-- Lien Accueil -->
                    <a href="/" class="nav-link accueil">Accueil</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Lien Ajouter une voiture -->
                        <a href="/Vehicule/Create" class="nav-link ajouter-voiture">Ajouter une voiture</a>
                        <!-- Lien Se déconnecter -->
                        <a href="/Identity/Account/Logout" class="nav-link deconnecter">Se déconnecter</a>
                    }
                    else
                    {
                        <!-- Lien Se connecter -->
                        <a href="/Identity/Account/Login" class="nav-link connecter">Se connecter</a>
                    }
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ExpressVoitures - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
